body {
  /* background-color: rgba(219, 194, 194, 0.826); */
  background-image: url("./orderbg2.jpg");
  background-repeat: no-repeat;
}
/* CSS OF NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
}
nav ul li a {
  color: white;

  text-decoration: none;
}
a.sidebar:hover {
  color: #fff;
  /* border: 1px solid white; */
  border-bottom: 2px solid #ffffff;
  transition: all 0.5s ease;
}

button {
  border: none;
  text-decoration: none;
  background-color: #ffffff;
  padding: 12px 30px;
  border-radius: 30px;

  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
}
button a {
  color: rgb(74, 20, 20);
  text-decoration: none;
}
button :hover {
  color: black;
}
button:visited {
  color: blue;
}
/* END of NAVBAR  */

form {
  /* CSS OF FORM*/
  margin-left: 420px;
  margin-right: 70px;
  padding-left: 60px;
  padding-right: 10px;
  /* margin: auto 200px; */
  width: 300px;
  height: 500px;
  background-color: rgba(59, 3, 3, 0.86);
  color: antiquewhite;
}
input {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input[type="text"] {
  width: 150px;
  height: 30px;
}
input[type="text"]:focus {
  border: 3px solid #555;
}
input[type="number"] {
  width: 150px;
  height: 30px;
}
input[type="radio"] {
  width: 15px;
  height: 15px;
}
