h1 {
  font-style: bold;
  text-align: center;
  font-display: swap;
  padding-top: 20px;
  transition: 0.3s;
}
p {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

body {
  background-color: rgba(60, 16, 16);
  background-size: cover;
  background-position: center;
  color: #f7f7f7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
}
nav ul li a {
  color: white;

  text-decoration: none;
}
a.sidebar:hover {
  color: #785050;
}

button {
  border: none;
  text-decoration: none;
  background-color: #ffffff;
  padding: 12px 30px;
  border-radius: 30px;

  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
}
button a {
  color: rgb(74, 20, 20);
  text-decoration: none;
}
button :hover {
  color: black;
}
button:visited {
  color: blue;
}

ul.img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.img > li {
  flex-basis: 350px;
}

.img li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
  margin: 10px;
}

img:hover {
  box-shadow: 0 0 4px 2px rgba(240, 232, 231, 0.5);
}

.img li {
  color: #1b1c1e;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.img li:hover {
  color: #ffffff;
}

.ord,
.ord p a {
  font-style: sans-serif;
  text-align: center;
  font-display: swap;
  padding-top: 5%;
  transition: 0.3s;
}
.ord a:hover {
  color: #0a0000;
  text-decoration: none;
}
.ord p a {
  font-style: italic;
  text-decoration: none;
  color: rgb(224, 232, 233);
}
